In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.axis as axis

from mpl_toolkits.mplot3d import axes3d
import seaborn as sns

from sklearn.preprocessing import scale
import sklearn.linear_model as skl_lm
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
import statsmodels.formula.api as smf

sns.set(font_scale=1.25)
plt.style.use('seaborn-white')

<ipython-input-5-128f50fdf07e>:18: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-white')

In [6]:
from traitlets.traitlets import Float
url1 = '/content/sample_data/data/PNL.csv'
url2 = '/content/sample_data/data/STD.csv'
url3 = '/content/sample_data/data/Vol.csv'
url4 = '/content/sample_data/data/PnV.csv'
pnl_df = pd.read_csv(url1).drop(["Unnamed: 0", "PNL_normalized"], axis=1)
pnl_df.rename(columns={'PNL-mean': 'PNL'}, inplace=True)

data_df = pd.read_csv(url2).drop(["Unnamed: 0"], axis=1)

vol_df = pd.read_csv(url3)
vol_df.rename(columns={'Open': 'Open_Vol'}, inplace=True)
vol_df.rename(columns={'Change %': 'Perc_Change_Vol'}, inplace=True)
vol_df['Perc_Change_Vol'] = vol_df['Perc_Change_Vol'].str.rstrip('%').astype(float)
vol_df.drop(['Price', 'High','Low'], axis=1, inplace=True)

pnv_df = pd.read_csv(url4)
pnv_df['Range'] = (pnv_df['High'] - pnv_df['Low']).abs()
pnv_df.drop(columns=['High', 'Low', 'Last', 'Open','Change'], inplace=True)
pnv_df.rename(columns={'%Chg': 'Perc_Change_Price'}, inplace=True)
pnv_df.rename(columns={'Open Int': 'Open_Int'}, inplace=True)
pnv_df['Perc_Change_Price'] = pnv_df['Perc_Change_Price'].str.rstrip('%').astype(float)


pnv_df

           Date  Perc_Change_Price   Volume  Open_Int  Range
0    2023-05-01              -1.46   443900   1886091   2.16
1    2023-04-28               2.70   704355   1881769   2.99
2    2023-04-27               0.62   784946   1880445   1.25
3    2023-04-26              -3.59  1084446   1862150   3.88
4    2023-04-25              -2.15   784520   1826195   2.57
..          ...                ...      ...       ...    ...
328  2022-01-07              -0.36   979709   1918425   1.03
329  2022-01-06               0.78  1170432   1913391   1.99
330  2022-01-05              -0.06   989697   1901975   1.22
331  2022-01-04               1.38   852063   1887131   1.37
332  2022-01-03               1.83   612605   1886114   1.80

[333 rows x 5 columns]

Combine the 4 dataframes and export to csv

In [7]:
df = pnl_df.merge(data_df, left_on='Date', right_on='Date', how="right")
df = df.merge(vol_df, left_on='Date', right_on='Date', how="left")
df = df.merge(pnv_df, left_on='Date', right_on='Date', how="left")
df.columns

Index(['Date', 'PNL', 'STD_A', 'STD_B', 'STD_C', 'STD_D', 'STD_E', 'STD_F',
       'STD_G', 'STD_Sum', 'STD_Total', 'Open_Vol', 'Perc_Change_Vol',
       'Perc_Change_Price', 'Volume', 'Open_Int', 'Range'],
      dtype='object')

In [8]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/dataframe.csv'
df.to_csv(file_path, index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).